
Builds/MacOSX/Info-VST3_Manifest_Helper.plist
Builds/MacOSX/Info-VST3.plist
Builds/MacOSX/Info-Standalone_Plugin.plist
Builds/MacOSX/Info-AU.plist
Builds/MacOSX/DirtClip.xcodeproj/xcuserdata/aaronroussel.xcuserdatad/xcschemes/xcschememanagement.plist
Builds/MacOSX/DirtClip.xcodeproj/project.xcworkspace/xcuserdata/aaronroussel.xcuserdatad/UserInterfaceState.xcuserstate
Builds/MacOSX/DirtClip.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Builds/MacOSX/DirtClip.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Builds/MacOSX/DirtClip.xcodeproj/project.pbxproj
Builds/MacOSX/build/Debug/libDirtClip.a
Builds/MacOSX/build/Debug/juce_vst3_helper
Builds/MacOSX/build/Debug/DirtClip.vst3/Contents/Resources/RecentFilesMenuTemplate.nib
Builds/MacOSX/build/Debug/DirtClip.vst3/Contents/Resources/moduleinfo.json
Builds/MacOSX/build/Debug/DirtClip.vst3/Contents/PkgInfo
Builds/MacOSX/build/Debug/DirtClip.vst3/Contents/MacOS/DirtClip
Builds/MacOSX/build/Debug/DirtClip.vst3/Contents/Info.plist
Builds/MacOSX/build/Debug/DirtClip.vst3/Contents/_CodeSignature/CodeResources
Builds/MacOSX/build/Debug/DirtClip.app/Contents/Resources/RecentFilesMenuTemplate.nib
Builds/MacOSX/build/Debug/DirtClip.app/Contents/PkgInfo
Builds/MacOSX/build/Debug/DirtClip.app/Contents/MacOS/DirtClip
Builds/MacOSX/build/Debug/DirtClip.app/Contents/Info.plist
Builds/MacOSX/build/Debug/DirtClip.app/Contents/_CodeSignature/CodeResources
Builds/MacOSX/RecentFilesMenuTemplate.nib
